@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --ma-theme-bg-primary: 235, 237, 240;
    --ma-theme-bg-surface: 255, 255, 255;
    --ma-theme-bg-inversed: 20, 20, 20;
    --ma-theme-bg-accent: 38, 136, 235;
    --ma-theme-bg-on-accent: 255, 255, 255;
    --ma-theme-bg-destructive: 244, 1, 77;
    --ma-theme-text-primary: 0, 0, 0;
    --ma-theme-text-inversed: 255, 255, 255;
    --ma-theme-text-accent: 38, 136, 235;
    --ma-theme-text-on-accent: 255, 255, 255;
    --ma-theme-text-destructive: 244, 1, 77;

    /* --ma-viewport-height: calc(100vh - env(safe-area-inset-bottom)); */
    --safe-area-bottom: env(safe-area-inset-bottom);
  }


  body.dark {
    --ma-theme-bg-primary: 20, 20, 20;
    --ma-theme-bg-surface: 34, 34, 34;
    --ma-theme-bg-inversed: 255, 255, 255;
    --ma-theme-bg-accent: 255, 255, 255;
    --ma-theme-bg-on-accent: 0, 0, 0;
    --ma-theme-bg-destructive: 244, 1, 77;
    --ma-theme-text-primary: 255, 255, 255;
    --ma-theme-text-inversed: 0, 0, 0;
    --ma-theme-text-accent: 255, 255, 255;
    --ma-theme-text-on-accent: 0, 0, 0;
    --ma-theme-text-destructive: 244, 1, 77;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    cursor: default;
    background-color: rgb(var(--ma-theme-bg-primary));
    color: rgb(var(--ma-theme-text-primary));
    overscroll-behavior-x: none;
    overflow-x: hidden;
  }
}

[class*="vkui"] {
  box-sizing: content-box;
}

button {
  text-align: inherit;
}

html,
body,
#root,
.vkuiAppRoot {
  min-height: 100lvh;
}

.vkuiAppRoot {
  --vkui--color_background_content: rgb(var(--ma-theme-bg-primary)) !important;
  --vkui--color_text_primary: rgb(var(--ma-theme-text-primary)) !important;
}

.vkui--sizeX-none {
  background: inherit !important;
}

.vkuiTokensClassProvider--default-color {
  color: rgb(var(--ma-theme-text-primary)) !important;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.95;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

.press-scale {
  scale: 1;
  transition: scale 0.12s ease-in-out;
}

.press-scale:active {
  scale: 0.95;
}

.glow {
  --glow-gradient: 50% 50% at 50% 50%, rgba(var(--glow-color), var(--glow-opacity)) 0%, rgba(var(--glow-color), 0.00) 100%;
  @apply grid [&>*]:z-10 relative before:content-[''] before:absolute before:w-[var(--glow-size)] before:aspect-square before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:transition-colors before:bg-[radial-gradient(var(--glow-gradient))] before:rounded-full before:animate-fade-in;
}

.border-shadow {
  --size: 1px;
  --color: white;
  box-shadow: 0 var(--size) 0 0 var(--color);
  box-shadow: 0 -var(--size) 0 0 var(--color);
  box-shadow: -var(--size) 0 0 0 var(--color);
  box-shadow: var(--size) 0 0 0 var(--color);
  box-shadow: 0 0 0 var(--size) var(--color);
}